table {
    border-collapse: separate;
    border-spacing: 1%;
  }
  
  td {
    background-color: #f0ad4e;
    border-radius: 10px;
    text-align: center;
    padding: 0.5em;
  }
  


.cell {
    background-color: white;
    transition: background-color 0.2s;
}

.player1 {
    background-color: hotpink;
    animation: sparklep1 0.5s ease-out forwards;
    /* box-shadow: 0 0 1px 1px hotpink; */
}

.player2 {
    background-color: limegreen;
    animation: sparklep2 0.5s ease-out forwards;
    /* box-shadow: 0 0 1px 1px limegreen; */
}

.cell.clicked1 {
    animation: sparklep1 0.5s ease-out forwards;
}

.cell.clicked2 {
    animation: sparklep2 0.5s ease-out forwards;
}

@keyframes sparklep1 {
    0% {
        background-color: hotpink;
        box-shadow: none;
    }

    50% {
        background-color: white;
        box-shadow: 0 0 5px 5px hotpink;
    }

    100% {
        background-color: hotpink;
        box-shadow: none;
    }
}

@keyframes sparklep2 {
    0% {
        background-color: limegreen;
        box-shadow: none;
    }

    50% {
        background-color: white;
        box-shadow: 0 0 5px 5px limegreen;
    }

    100% {
        background-color: limegreen;
        box-shadow: none;
    }
}