table {
    border-collapse: separate;
    border-spacing: 1%;
  }
  
  td {
    background-color: #f0ad4e;
    border-radius: 10px;
    text-align: center;
    padding: 0.5em;
  }
  


.cell {
    background-color: white;
    transition: background-color 0.2s;
}

.cell.player1 {
    background-color: red;
}

.cell.player2 {
    background-color: green;
}

.cell.clicked {
    animation: sparkle 0.5s ease-out forwards;
}

@keyframes sparkle {
    0% {
        background-color: yellow;
        box-shadow: none;
    }

    50% {
        background-color: white;
        box-shadow: 0 0 5px 5px yellow;
    }

    100% {
        background-color: yellow;
        box-shadow: none;
    }
}